In [1]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor # using package of testing VIF in statsmodels
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_sp=pd.read_csv('/Users/xuyk/dab/assignment/S&P1500_Raw_Dataset_Data.csv')
df_sp.head()

,Ticker,Name,Year,ISIN Number,SIC Code,GICS Industry,Country or Territory of Domicile,Number of Employees,Total Assets,R&D Expense,R&D Expense Adjusted,Operating Expenses R&D,Cash and Cash Equivalents,Environmental Disclosure Score,Social Disclosure Score,Governance Disclosure Score,Tobin's Q Ratio,Return on Assets,Return on Common Equity,Gross Margin
0,VRSK UW Equity,Verisk Analytics Inc,2016,US92345Y1064,7374.0,202020,US,6148.0,4631.2000,27.4,27.4,27.4,135.1000,22.4806,38.5965,60.7143,3.6378,11.5639,43.7213,64.1941
1,EVTC UN Equity,EVERTEC Inc,2016,PR30040P1032,7374.0,451020,PR,1650.0,885.6620,0.0,0.0,0.0,51.9200,4.6512,24.5614,51.7857,2.3375,8.5474,73.9553,54.8637
2,PFG UW Equity,Principal Financial Group Inc,2016,US74251V1026,6321.0,403010,US,14895.0,228014.3000,NaN,NaN,NaN,2719.6000,25.8929,28.3333,60.7143,1.0282,0.5895,13.4757,NaN
3,NXPI UW Equity,NXP Semiconductors NV,2016,NL0009538784,3674.0,453010,NL,40400.0,24898.0000,1560.0,1520.0,1560.0,1894.0000,40.3101,28.0702,26.7857,1.8811,0.7805,1.7817,42.8406
4,CELH UR Equity,Celsius Holdings Inc,2016,US15118V2079,2086.0,302010,US,39.0,17.7171,0.0,0.0,0.0,11.7471,NaN,3.5088,37.5000,6.2765,NaN,NaN,42.7479

In [3]:
df_sp = df_sp.rename(columns={'SIC Code':'SIC','Number of Employees':'EmployeesNumber',
                              'Total Assets':'TotalAssets','R&D Expense Adjusted':'R&D_Adjusted',
                              'Environmental Disclosure Score':'EDS',"Tobin's Q Ratio":'TobinsQ',
                              'Return on Assets':'ROA','Return on Common Equity':'ROE',
                              'Gross Margin':'GrossMargin'})
df_sp.head()

,Ticker,Name,Year,ISIN Number,SIC,GICS Industry,Country or Territory of Domicile,EmployeesNumber,TotalAssets,R&D Expense,R&D_Adjusted,Operating Expenses R&D,Cash and Cash Equivalents,EDS,Social Disclosure Score,Governance Disclosure Score,TobinsQ,ROA,ROE,GrossMargin
0,VRSK UW Equity,Verisk Analytics Inc,2016,US92345Y1064,7374.0,202020,US,6148.0,4631.2000,27.4,27.4,27.4,135.1000,22.4806,38.5965,60.7143,3.6378,11.5639,43.7213,64.1941
1,EVTC UN Equity,EVERTEC Inc,2016,PR30040P1032,7374.0,451020,PR,1650.0,885.6620,0.0,0.0,0.0,51.9200,4.6512,24.5614,51.7857,2.3375,8.5474,73.9553,54.8637
2,PFG UW Equity,Principal Financial Group Inc,2016,US74251V1026,6321.0,403010,US,14895.0,228014.3000,NaN,NaN,NaN,2719.6000,25.8929,28.3333,60.7143,1.0282,0.5895,13.4757,NaN
3,NXPI UW Equity,NXP Semiconductors NV,2016,NL0009538784,3674.0,453010,NL,40400.0,24898.0000,1560.0,1520.0,1560.0,1894.0000,40.3101,28.0702,26.7857,1.8811,0.7805,1.7817,42.8406
4,CELH UR Equity,Celsius Holdings Inc,2016,US15118V2079,2086.0,302010,US,39.0,17.7171,0.0,0.0,0.0,11.7471,NaN,3.5088,37.5000,6.2765,NaN,NaN,42.7479

In [4]:
data1=df_sp
data2=data1[['Name','Year','SIC',
             'TotalAssets','R&D_Adjusted','EDS',
             'TobinsQ','ROA','GrossMargin']]

In [5]:
data3=data2.loc[data1['SIC']>3499]
data4=data3.loc[data2['SIC']<3600]
df_manufacturing=data4
df_manufacturing.head()

,Name,Year,SIC,TotalAssets,R&D_Adjusted,EDS,TobinsQ,ROA,GrossMargin
11,Caterpillar Inc,2016,3531.0,74704.000,1853.0,33.3333,1.5522,-0.0876,25.6818
17,Lennox International Inc,2016,3585.0,1760.300,NaN,12.4031,4.7180,16.1620,29.5612
22,Alamo Group Inc,2016,3523.0,552.776,0.0,NaN,1.8708,6.9265,24.2793
24,HP Inc,2016,3570.0,28987.000,1209.0,60.4651,1.9900,3.6741,18.6533
26,International Business Machines Corp,2016,3570.0,117470.000,5722.0,60.4651,2.1812,10.4156,47.9160

In [6]:
df_manufacturing.shape

(213, 9)

In [7]:
df_manufacturing = df_manufacturing.replace('#N/A N/A', np.NaN )
df_manufacturing = df_manufacturing.replace(' ' , np.NaN )

null_all = df_manufacturing. isnull().sum()
print(df_manufacturing.isnull().sum())

Name             0
Year             0
SIC              0
TotalAssets      5
R&D_Adjusted    31
EDS             40
TobinsQ         13
ROA              8
GrossMargin      3
dtype: int64

In [9]:
df =df_manufacturing
df_manufacturing = df.dropna()


df_manufacturing['Log_TotalAssets'] = np.log(df_manufacturing['TotalAssets'])

display(df_manufacturing.head())

,Name,Year,SIC,TotalAssets,R&D_Adjusted,EDS,TobinsQ,ROA,GrossMargin,Log_TotalAssets
11,Caterpillar Inc,2016,3531.0,74704.0,1853.0,33.3333,1.5522,-0.0876,25.6818,11.221289
24,HP Inc,2016,3570.0,28987.0,1209.0,60.4651,1.9900,3.6741,18.6533,10.274603
26,International Business Machines Corp,2016,3570.0,117470.0,5722.0,60.4651,2.1812,10.4156,47.9160,11.673938
41,Timken Co/The,2016,3562.0,2763.2,0.0,9.3023,1.6496,5.0752,25.0393,7.924145
44,Cisco Systems Inc/Delaware,2016,3576.0,121652.0,6296.0,61.2403,1.7394,9.1344,62.8668,11.708920

In [10]:
df_manufacturing.shape

(149, 10)

In [11]:
df_manufacturing.describe()

,Year,SIC,TotalAssets,R&D_Adjusted,EDS,TobinsQ,ROA,GrossMargin,Log_TotalAssets
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,2017.107383,3556.751678,22433.965698,825.351430,24.379102,2.005562,4.574575,35.506021,8.658725
std,0.814903,21.641710,55160.795803,2025.849223,20.279369,1.002953,7.492314,12.281209,1.553850
min,2016.000000,3510.000000,307.994000,0.000000,1.550400,0.708900,-35.580100,-1.392900,5.730080
25%,2016.000000,3533.000000,1787.000000,17.147000,5.426400,1.374800,1.265900,27.456800,7.488294
50%,2017.000000,3561.000000,4616.277000,107.378000,20.930200,1.746300,4.671600,33.995400,8.437344
75%,2018.000000,3572.000000,14874.000000,754.000000,35.658900,2.252500,8.452100,40.588800,9.607370
max,2018.000000,3590.000000,375319.000000,14236.000000,65.625000,7.380600,32.123300,64.498700,12.835532

In [12]:
y = df_manufacturing.ROA
X = df_manufacturing[["EDS","R&D_Adjusted","Log_TotalAssets","GrossMargin"]].assign(const=1)

results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ROA   R-squared:                       0.125
Model:                            OLS   Adj. R-squared:                  0.101
Method:                 Least Squares   F-statistic:                     5.136
Date:                Thu, 30 Dec 2021   Prob (F-statistic):           0.000675
Time:                        18:11:54   Log-Likelihood:                -501.05
No. Observations:                 149   AIC:                             1012.
Df Residuals:                     144   BIC:                             1027.
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
EDS                 0.1104      0.042      2.643      0.009       0.028       0.193
R&D_Adjusted        0.0005      0.000      1.207      0.230      -0.000       0.001
Log_TotalAssets    -0.8334      0.628     -1.328      0.186      -2.074       0.407
GrossMargin         0.0927      0.050      1.841      0.068      -0.007       0.192
const               5.4009      5.365      1.007      0.316      -5.203      16.005
==============================================================================
Omnibus:                       46.844   Durbin-Watson:                   1.909
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              353.217
Skew:                          -0.834   Prob(JB):                     2.00e-77
Kurtosis:                      10.356   Cond. No.                     2.02e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.02e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [13]:
y = df_manufacturing.TobinsQ
X = df_manufacturing[["EDS","R&D_Adjusted","Log_TotalAssets","GrossMargin"]].assign(const=1)

results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                TobinsQ   R-squared:                       0.250
Model:                            OLS   Adj. R-squared:                  0.229
Method:                 Least Squares   F-statistic:                     12.00
Date:                Thu, 30 Dec 2021   Prob (F-statistic):           1.92e-08
Time:                        18:11:55   Log-Likelihood:                -189.92
No. Observations:                 149   AIC:                             389.8
Df Residuals:                     144   BIC:                             404.9
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
EDS                 0.0139      0.005      2.690      0.008       0.004       0.024
R&D_Adjusted        0.0001   5.04e-05      2.577      0.011    3.02e-05       0.000
Log_TotalAssets    -0.3723      0.078     -4.785      0.000      -0.526      -0.218
GrossMargin         0.0235      0.006      3.771      0.000       0.011       0.036
const               3.9461      0.665      5.936      0.000       2.632       5.260
==============================================================================
Omnibus:                       74.167   Durbin-Watson:                   1.958
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              298.332
Skew:                           1.868   Prob(JB):                     1.65e-65
Kurtosis:                       8.839   Cond. No.                     2.02e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.02e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:

vif = [variance_inflation_factor(exog=X.values, exog_idx=i) for i in range(X.shape[1])]

vif_table = pd.DataFrame({'coef_name': X.columns, 'vif': np.around(vif,3)})
print(vif_table)

X.corr(method = 'pearson')

         coef_name     vif
0              EDS   2.106
1     R&D_Adjusted   1.987
2  Log_TotalAssets   2.789
3      GrossMargin   1.122
4            const  84.933

                      EDS  R&D_Adjusted  Log_TotalAssets  GrossMargin  const
EDS              1.000000      0.535264         0.700546     0.245916    NaN
R&D_Adjusted     0.535264      1.000000         0.686125     0.219446    NaN
Log_TotalAssets  0.700546      0.686125         1.000000     0.092723    NaN
GrossMargin      0.245916      0.219446         0.092723     1.000000    NaN
const                 NaN           NaN              NaN          NaN    NaN